[2013-03-28 21:38] SethArchambault opened #1 "Example not working"
Both these lines gave me errors:
$request = new \PayPal\Ipn\Request\Curl();

$request->useSSL(true); //dont need to do this as its done by default, just demonstrating configuring the request component

I had to remove the parens off of Curl, and comment out that second line to use it further

[2013-03-29 11:22] #1 closed, assigned to nobody

[2013-07-31 10:05] pygmalia opened #2 "lack of documentation"
Hi,
I give up using your package : I can't figure out how to use it...

[2013-10-04 23:18] Bulmer opened #3 "ssl error requesting from non-ssl page on non-standard port"
I have needed to add "curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, false);" to the Curl Class to avoid an SSL error I was getting. It seems the original issue was addressed within the Socket Class by utilising a ternery operator and the ports 443 and 80. In development i'm actually using a non-ssl port other than 80 (due to numerous Virtualhosts etc). I don't mind using a 'quick-fix' for the present b

[2013-10-07 19:07] #3 closed, assigned to nobody

[2013-11-12 11:48] DeanStr opened #4 "'urlencode() expects parameter 1 to be string, array given' in /mike182uk/paypal-ipn-listener/src/PayPal/Ipn/Request.php:179"
I keep receiving this error, I believe it's due to the IPN message having transaction[0] in it which php treats as an array. The start of an example IPN message:
transaction[0].invoiceId=119&payment_request_date=Thu Nov 07 15:46:00 PST 2013&return_url=http://website.com/thanks&fees_payer=EACHRECEIVER&ipn_notification_url=http://website.com/ipn&sender_email=ipn@hotmail.com

[2013-11-13 19:57] #2 closed, assigned to nobody

[2013-12-18 15:54] zamarrong opened #5 "I can´t get running"
Hello i have a problem with this, i dont know if the listener are working im using Laravel 4.1 and my code is this:
I have a route like this:
Route::post('pago/paypal', array('uses' => 'PagosController@pagopp'));
And in my controller i have this:
public function pagopp(){

[code]

but nothing hapen y checked the ipn request from ipn history in my sandbox account and all the fields are fine.

[2014-04-11 15:14] #4 closed, assigned to nobody

[2014-05-01 02:41] stevethomas opened #6 "PayPal new line handling"
UPDATE: I just discovered this is a CodeIgniter bug, where new lines are being standardised on all post data. This is how it was incorrectly fixed (missing double quotes) in another IPN implementation which is the same as my method. https://github.com/orderly/codeigniter-paypal-ipn/blob/master/activerecord/libraries/PayPal_IPN.php#L181

This bug refers to at least v1.1.1, I haven't tested on v2.0.

[2014-05-05 11:09] #6 closed, assigned to nobody

[2014-05-05 11:10] #5 closed, assigned to nobody

[2014-05-23 18:35] ashishkalal opened #7 "how to reditect on PayPal site for make payment?"
means how to set payment information, payer_id, success, cancel and notify url , etc parameter? Please provide us the full code example. No any plugin available for go paypal site and then make payment.

[2014-05-25 11:52] #7 closed, assigned to nobody

[2014-06-01 17:24] krunsolo opened #8 "Updating user records after IPN handling"
Hi, great work on this listener. After handling the IPN, how can I update the currently authorized user's db records to update their payment status? Auth::check() indicates that no user is logged in even though they are, I suspect this is because this IPN flow is separate from the user session created. Now I am left with a handled payment but no way to update the user record. Any suggestions?

Tha

[2014-06-07 16:19] #8 closed, assigned to nobody

[2014-10-16 09:27] zhangyb opened #9 "CURLOPT_SSLVERSION"
CURLOPT_SSLVERSION is currently set to 3 in CurlVerifier.php, this needs to be updated to 1 (TLSv1) as Paypal no longer allows SSLv3. Verification will fail as a result of this breaking change from Paypal.

[2014-10-18 19:46] pablorsk opened #10 "Curl error: [35] SSL connect error."
When I receive IPN, CurlVerifier make this error:

Curl error: [35] SSL connect error.

I try solve with $verifier->forceSSLv3(false); and $verifier->forceSSLv3(true);, but don't work. Trying with CURLOPT_SSLVERSION = 4 generate other errors.

Can you help me?

[2014-10-22 14:14] #9 closed, assigned to nobody

[2014-10-22 14:16] #10 closed, assigned to nobody

[2014-10-29 13:28] ghost opened #11 "cURL and SSL Problems"
Hi Mike!

I am experiencing weird issues regarding cURL and SSL. I am getting this error:

PHP Fatal error:  Uncaught exception 'RuntimeException' with message 'Curl error: [35] error:14094410:SSL routines:SSL3_READ_BYTES:sslv3 alert handshake failure.' in /var/www-vhosts/<REDACTED>/vendor/mike182uk/paypal-ipn-listener/src/PayPal/Ipn/Verifier/CurlVerifier.php:89\nStack trace:\n#0 /var/www-vhosts/<

[2014-10-30 13:07] #11 closed, assigned to nobody

[2014-11-18 11:03] Dormilich opened #12 "pass IPN-Message to callback functions"
Hi,

I think it would be a reasonable idea to pass either the IPN Message or the Listener instance to the callback functions (when they’re executed off the stack) so that you don’t have to import them explicitly every time (since there is often data in the IPN message that are required for further processing).

Dormilich

[2014-11-18 12:49] Dormilich opened #13 "allow callables to be passed to the Listener"
Hi,

it would add a great deal of flexibility if callables and not only anonymous functions would be allowed in the callback stack.

Dormilich

[2014-12-20 11:05] Smally1997 opened #15 "Message:: issue"
Hello,

I've copied your example and it appears that as soon as I try to use $ipnMessage['ipnFieldHere'] I get a 500 error, from paypal.

Here's my code:

[code]

[2014-12-20 13:49] #15 closed, assigned to nobody

[2015-03-18 11:55] Dormilich commented on #13
As of PHP 5.4 you could use the `callable` type hint.

[2015-04-27 15:00] mike182uk commented on #13
Howdy, i have just released a new version of the library that uses symfony's event dispatcher to handle the callback stack. This means callables can now be used :)

[2015-04-27 15:00] #13 closed

[2015-04-27 15:03] mike182uk commented on #12
Howdy, i have just released a new version of the library that uses symfony's event dispatcher to handle the callback stack. This means an event object is now passed to the callable, and the original IPN message can be retrieved from the event using the `getMessage` method.

[2015-04-27 15:03] #12 closed

[2015-04-28 12:20] chrisjohnstone opened #16 "Using the ArrayListenerBuilder always returns Invalid"
Hi Mike, thanks for the latest version of your listener.

I've been able to get the listener working with the `InputStreamListenerBuilder` and it returns a nice string of data from paypal. When I substitute in the `ArrayListenerBuilder` and log the `$ipnMessage` however, I always get an Invalid response from Paypal.

Would a verified response return an array as part of the message?

[2015-04-28 13:32] mike182uk commented on #16
Hey Chris,

Can you share an example of what your code looks like so i can take a look?

[2015-04-28 13:46] chrisjohnstone commented on #16
Sure, I'm using Laravel 4.2. My `IPNController` looks like this:

    use Mdb\PayPal\Ipn\Event\MessageVerifiedEvent;
    use Mdb\PayPal\Ipn\Event\MessageInvalidEvent;
    use Mdb\PayPal\Ipn\Event\MessageVerificationFailureEvent;
    use Mdb\PayPal\Ipn\ListenerBuilder\Guzzle\ArrayListenerBuilder as ListenerBuilder;

and in the method:

    $listenerBuilder = new ListenerBuilder();
    $listenerBuil

[2015-04-28 14:02] mike182uk commented on #16
Thanks, i'll fix the readme typo.

As for your problem, you need to manually give the array listener builder your data as it is not automatically getting it from the input stream. So you would need something like:

[code]

[2015-04-28 14:41] chrisjohnstone commented on #16
Thanks, Mike. Got it working smoothly now with:

    public $data;

	public function listener()
	{
		$this->data = Input::all();

		$listenerBuilder = new ListenerBuilder();

		$listenerBuilder->setData($this->data); // set the data to use to create the message
		$listenerBuilder->useSandbox();

		$listener = $listenerBuilder->build();

		$listener->onInvalid(function (MessageInvalidEvent $event)

[2015-04-28 14:41] #16 closed

[2015-04-28 15:04] mike182uk commented on #16
Cool, glad you got it sorted. I'll add a few more examples to cover this. Also on a side note, you can also pass callables to the listener events which might make your code abit cleaner:

[code]

[2015-04-29 08:32] chrisjohnstone commented on #16
Nice, that's really useful and tidy. I'll implement that in my class. I think your examples are great and all I needed was a better understanding of the IPN system in that it was POSTing data to the listener URL. The array data was always available, I just didn't realise.

[2015-07-29 08:53] facepalm50 opened #17 "Error in documentation"
Hey,
Sorry for not doing pull request but noticed an error in your readme. In the sandbox section of it, it has this line "$listener = $listenerBuilder()->build();". The line causes an error because of the first set of parentheses.
Thanks.

[2015-07-30 06:13] Bulmer opened #18 "ipn listener not verifying"
I am using the current version, but had used the older version for some time without issues. Its probably just that I have been trying to track this problem (and am tired) and have come up against a brick wall.
The ipns are being sent, returning a http200 and the code is being logged into $listener->onVerified but Paypal isn't getting a response that its gone through. Any idea how to proceed with

[2015-07-30 08:11] mike182uk commented on #18
If `onVerified` is being called, then this means that the IPN listener is getting back a verified response from PayPal.

Im not sure what you mean by `Paypal isn't getting a response that its gone through?`

Can you give a little more detail?

[2015-07-30 08:14] mike182uk commented on #17
Thanks, fixed. 3efc3feb50dd72b8f22a53bcd239adedced8cc9c

[2015-07-30 08:14] #17 closed

[2015-07-30 09:31] Bulmer commented on #18
Thanks for responding Mike.
What I mean is that I do get a verification coming through but Paypal just keeps sending them again and again. This is the basic layout. I can't pick any faults in it. Also I realised that i'm actually using version 3 instead of the current version 4.
<?php
use Mdb\PayPal\Ipn\Event\MessageInvalidEvent;
use Mdb\PayPal\Ipn\Event\MessageVerificationFailureEvent;
use Mdb\Pa

[2015-07-30 09:51] mike182uk commented on #18
It is normal for PayPal to resend the IPN message multiple times. From the docs:

- Your listener returns an empty HTTP 200 response to PayPal.
- Your listener HTTP POSTs the complete, unaltered message back to PayPal; the message must contain the same fields (in the same order) as the original message and be encoded in the same way as the original message.
- PayPal sends a single word back - eith

[2015-07-30 13:01] Bulmer commented on #18
Its seems to be returning a 200 status from apaches ssl_access log, over and over:
173.0.81.1 - - [29/Jul/2015:22:03:22 +1000] "POST /paypal/ipn-listener HTTP/1.0" 200 4030 "-" "PayPal IPN ( https://www.paypal.com/ipn )"
173.0.81.1 - - [29/Jul/2015:22:04:25 +1000] "POST /paypal/ipn-listener HTTP/1.0" 200 4077 "-" "PayPal IPN ( https://www.paypal.com/ipn )"
............
i'll have a fresh look at it

[2015-07-30 23:01] Bulmer commented on #18
Ok, i'm getting somewhere now....
I tried using http instead of https and it has worked. Could this have something to do with curls SSL negotiation?

[2015-08-02 08:02] #18 closed

[2015-11-26 13:20] fenixkim opened #19 "Question: Is there a way to get a textRerport()?"
First to all, thanks for this great repo.

I'm very sorry to ask this question, but is there any way to get a report similar to https://github.com/Quixotix/PHP-PayPal-IPN#example-report?

[2015-11-27 21:55] mike182uk commented on #19
Hey,

Unfortunately not, although i could see why this maybe useful.

Alternatively you have access to the contents of the IPN message inside the callback:

[code]

so you could manually generate a report yourself, although you would not have access to the HTTP request / body data.

[2015-11-30 22:19] dejan7 opened #20 "Can't install with composer (dependency problem)"
Composer output:

    Problem 1
    - Installation request for mike182uk/paypal-ipn-listener ~4.0 -> satisfiable by mike182uk/paypal-ipn-listener[v4.0.0].
    - mike182uk/paypal-ipn-listener v4.0.0 requires guzzlehttp/guzzle ~5.2 -> no matching package found.

If you are still maintaining this package you should update guzzle req. and change the potential guzzle usage. Thanks

[2015-12-01 17:32] mike182uk commented on #20
Hi,

With this `composer.json`:

[code]

i get this result:

[code]

Im not entirely sure why you would be seeing that error, are you using packagist as your package repository or do you have custom package repositories setup?

[2016-01-12 13:52] jeremykendall opened #21 "Guzzle 6"
Any plans for a Guzzle 6.x version? Thanks!

[2016-01-13 00:30] angelleye opened #22 "How to pull individual IPN fields..??"
I see in your examples that $event->getMessage() returns the raw IPN string.  Is there any way to pull individual fields or is it left up to me to parse that string at that point?

[2016-01-13 08:38] mike182uk commented on #22
The [message object](https://github.com/mike182uk/paypal-ipn-listener/blob/master/src/Message.php) is returned from this call. The `get` method should return a specific field, or you can use `getAll` to get an array of all fields:

[code]

[2016-01-13 08:38] #22 closed

[2016-01-13 08:46] mike182uk commented on #20
@dejan7 Did you manage to resolve this issue?

[2016-01-13 08:46] #19 closed

[2016-01-13 08:52] angelleye commented on #22
Thanks!!

[2016-01-15 11:46] mike182uk commented on #21
It wasn't something i had plans on yet. Is the older version of guzzle causing problems for you?

[2016-01-15 14:32] jeremykendall commented on #21
The older version is fine, we just have a dependency conflict because the [Neoxygen NeoClient](https://github.com/neoxygen/neo4j-neoclient) requires Guzzle `^6.0`.

Please don't refactor on my account. I was looking for options to rolling my own and found your lib. It looks amazing, but since I couldn't use it I settled for PayPal's `PPIPNMessage`, using it pretty much like [this example](https://

[2016-01-15 15:09] mike182uk commented on #21
Ah thats a shame.

We could look at upgrading it and tagging a new version that plays nicely?

Guzzle 6 depends on `5.5` and this library supports `5.4`. `5.4` is end of life now anyways so i have no issues with this dep being upgraded and the library being bumped to only support `5.5` (if somebody needs it for `5.4`, they can just pin an older version).

[2016-01-15 16:33] jeremykendall commented on #21
That would be great. I'd be happy to volunteer, but I can't commit to a timeline :frowning: It would probably be a while because startup, toddler, moving, blah, blah, blah.

Awesome!

[2016-03-11 12:50] Lctrs commented on #21
I would recommend to use [HTTPlug](http://docs.php-http.org/en/latest/) instead. This will let users chose whatever they want to use (Guzzle 5, 6, Curl, etc.)

[2016-03-14 06:01] mablae opened #25 "Listener is bound to EventDispatcher"
This typehint should be the `EventDispatcherInterface` instead:

https://github.com/mike182uk/paypal-ipn-listener/blob/master/src/Listener.php#L40

refs #24

[2016-03-15 11:10] mike182uk commented on #20
I'm going to close this for now as i haven't heard anything back. Feel free to re-open if your still having the above problem.

[2016-03-15 11:10] #20 closed

[2016-03-16 20:19] mike182uk commented on #25
Fixed in https://github.com/mike182uk/paypal-ipn-listener/commit/b49fe191b69f0226056d36e6938bbb76bda87b28

[2016-03-16 20:19] #25 closed

[2016-06-01 13:29] mike182uk commented on #21
@jeremykendall You have probably found some other solution now, but the latest tagged version now uses the latest version of guzzle.

[2016-06-01 13:29] #21 closed

[2016-08-07 21:11] Swader opened #28 "IPN sandbox returns invalid 100% of the time"
When using this package, I get INVALID as a response 100% of the time. I have followed the debugging steps, and made sure that I'm calling the correct sandbox URL (that's automatic with this package) and that I'm sending the *exact* same params in the *exact* same order back, as per the docs.

If anyone is using this and getting valid responses in local development mode (I'm using Ngrok to pipe my

[2016-08-07 21:38] mablae commented on #28
Hey @Swader

I had similar issues when testing the sandbox. For me the issue was, that the paypal sandbox has sent its IPNs in Windows 1252 by default. After overidering the the `charset` in the initial payment request to ´UTF-8´ it was validated correctly. I was also using ngrok. Maybe this issue is here? I never thought about that as error source until now.

There is a setting in the paypal deve

[2016-08-07 21:50] Swader commented on #28
Hey @mablae thanks, that sounds like it's going in the right direction. When you say you changed the charset, where did you change it exactly and how, without tweaking the internals of this package?

[2016-08-07 22:09] mablae commented on #28
Where the customer triggers the payments in my use case.
https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/Appx_websitestandard_htmlvariables/#technical-variables

[2016-08-07 22:16] Swader commented on #28
Ah, but there is no way to edit the charset value in the IPN simulation, and it doesn't seem to get sent along with the other, standard fields? Did you end up being able to test with the IPN simulator in the end?

I now know it's off topic and out of scope, and I'll close this asap, just bear with me please as I'd really love to get this over with.

[2016-08-07 22:25] mablae commented on #28
How do you initiate the IPN beeing sent? Is that your custom codebase? Or another third party lib?

Yes, In the end I was able to test it successfully. Once it worked I never touched it again 😄
Please also note, that this library does not handle sending a proper `200: Success` Http Status Code to paypal after the validating the IPN. This is needed to convince paypal, the IPN has been processed suc

[2016-08-07 22:29] Swader commented on #28
I use the [IPN Simulator](https://developer.paypal.com/developer/ipnSimulator/)

Why not? Shouldn't it?

[2016-08-07 22:32] mablae commented on #28
Ah, now I understand. I never tried that thing since I needed to test the whole checkout cycle anyway.

It is called `Listener` not `Responder` :smile:

[2016-08-07 22:33] Swader commented on #28
Makes sense why it ended up working for you in the end :) It's ok, I think I finally found some other people having the [same problem](http://stackoverflow.com/questions/12284341/paypal-ipn-override-charset).

Touche! :)

[2016-08-07 22:33] #28 closed

[2016-08-07 22:38] mablae commented on #28
PayPals "Developer Experience" and Docs is real crap compared to the amount of money they do with their product btw. 😄

It's their crap. And thousands of coders like you and me are forced to work with that :smile:

[2016-09-18 02:23] overint commented on #28
I'm having the same problem.
Unfortunately I cannot set the charset, as I am trying to track payments received which include direct send-money payments. These come through with the same problematic `windows-1252` charset.
Is there any way we can fix this inside the PHP library?

[2016-09-23 01:19] overint commented on #28
I ended up writing my own library, which can be found here:
https://github.com/overint/php-paypal-ipn

It's not as complex as this one, but it is simple and easy to use :)

[2016-09-23 20:10] mablae commented on #28
@overint It was already fixed.

[2016-12-05 18:01] thanter commented on #28
It seems I am facing a similar issue. I am in sandbox mode and when I am testing with the IPN Simulator the messages are valid.  When I am using my application though I always get INVALID messages.
I am using the rest api to create/cancel billing agreements (they are created sucessfully). I have changed the charset in settings, as mentioned in other posts, but it didn't fix the problem.
Any sugges

[2016-12-07 06:34] thanter commented on #28
@mablae
Following my own question, I changed back the 'rawurlencode' to 'urlencode', as it was before #29 and it fixed my issue. Maybe paypal changed something on their own end. If someone can verify this maybe undo  #29

[2016-12-07 07:38] overint commented on #28
I authored my own library which makes sure the date is encoded correctly, and there's a copy of the class in official paypal IPN sample repo as well, so if the authors want to use the logic that checks the date encoding they are free to use the code.
https://github.com/paypal/ipn-code-samples/tree/master/php

[2016-12-07 10:52] mike182uk commented on #28
@thanter Would you mind opening a new issue for this? Your problem seems a little different to this (although its related). The original issue here was that the listener would fail 100% of the time, where as it sounds like you aren't having that problem (as its working in sandbox mode), which is strange. To help with debugging, would you be able to compare the encoded data you received to the enco

[2016-12-07 20:31] mablae commented on #28
There are two methods: Using the libs request decoder or pass an already decoded array of values.

2nd is what I use and works (with symfony parsing the request) - So I guess the error may be environment dependent when decoding the plain input.

We should and CAN fix this. Maybe it is related to date.timezone setting in php.ini?

[2017-02-02 20:02] sebdesign commented on #28
Hello, I'm using the v7.0.1 (i'm on PHP 5.5) but I'm always getting an invalid response on the production URL. The issue appeared a few months ago. I have set up the encoding to `utf-8` on the merchant profile, and I'm sending a hidden input `<input type="hidden" name="charset" value="utf-8">` with the payment.

While debugging the incoming request data in the controller which is handling the IPN,

[2017-02-03 09:10] mike182uk commented on #28
@sebdesign Just to be clear, is everything working correctly for you in sandbox mode? To help with debugging, would you be able to compare the encoded data you received to the encoded data we send back so we can see where the difference is?

@mablae I some how missed your last comment. When you say:

[code]

Im not quite sure what we should be fixing 😕

[2017-02-03 09:17] Swader commented on #28
Yeah, PayPal's dev team isn't being too helpful. What's even weirder, mine now works just fine. It'd be cool if we could compare implementations and list out the system specs running each installation - which PHP version, all php.ini settings, an output of $_SERVER, etc?

[2017-02-03 23:59] sebdesign commented on #28
Hi @mike182uk ,

I'm investigating the incoming input stream. It seems paypal is sending values with spaces as `+` instead of `%20`. As per the documentation, `rawurldecode()` cannot decode `+` to spaces.

[2017-02-04 00:01] sebdesign commented on #28
Although some other characters (like `@`) *are* encoded according to RFC 3986.

[2017-02-04 00:12] mike182uk commented on #28
@sebdesign can you try using `v6.0.0` of the library and see if your still having the same problem?

[2017-02-04 00:27] sebdesign commented on #28
I just made a payment using `v6.0.0` and the response is still invalid. Maybe it has something to do with the `payment_date` field? This is the official example: https://github.com/paypal/ipn-code-samples/blob/master/php/PaypalIPN.php#L81

[2017-02-04 00:27] sebdesign commented on #28
I just forked this repo and will try to implement this for v7.0. I'll let you know how it goes.

[2017-02-04 20:48] sebdesign commented on #28
After some investigation, I found that the `payment_date` doesn't have any `+` character in my case, so there's no need to override this parameter, although that would be advisable.

I did play around with the IPN simulator, and I'm getting a successful message `IPN was sent and the handshake was verified.` every time. BUT, on my end I'm always getting an `INVALID` response for the those simulatio

[2017-02-06 21:43] mike182uk opened #30 "IPN verification failure"
A few people have reported they are having problems with the IPN messages not being verified when they should be, most notably here: https://github.com/mike182uk/paypal-ipn-listener/issues/28

We need to do some investigation to see what is actually going on here to try and resolve the problem.

[2017-02-06 21:47] mike182uk commented on #30
@sebdesign I have opened a new issue to try resolve the problem you have reported in #28.

To help debug, can you add a comment here showing what you received from PayPal and what you sent back to PayPal? You might have to hack a `var_dump` somewhere.

This will help me narrow down the problem.

[2017-02-09 21:17] sebdesign commented on #30
Hi @mike182uk , I will try to find some time tomorrow to show you exactly what I have received from Paypal.

[2017-04-13 12:28] Bulmer commented on #30
Just wondering if this has been fixed yet? I dont mind sending you some data dumps if it would help sort this out. I'm just about to launch my upgraded website and i'm not sure if this error is going to carry over when live. I've never had trouble before with your Listener, however i'm now using php7.0 if that helps pinpoint whats going on..

[2017-04-15 19:50] mike182uk commented on #30
Hey @Bulmer

Are you experiencing this problem? If so then feel free to add some data dumps to this thread to help with debugging.

If you have not experienced the problem mentioned here before, then i would imagine things should still work fine with PHP 7. If this is not the case and you are seeing things not working, then any debugging info you can add to this thread would be a great help.

[2017-04-15 19:53] sebdesign commented on #30
Hi @mike182uk and @Bulmer ,

I'm still having problems after migrating to a new server (CentOS 7, PHP 7). I will try to provide some data dumps in the following days.

[2017-04-15 20:02] mike182uk commented on #30
😔 Anything you can provide should be able help us debug this further.

Would be interesting to see if @Bulmer experiences the problem when upgrading to PHP7.

[2017-04-16 08:30] Bulmer commented on #30
Hey @mike182uk and Sebastien. I can only help with PHP7.0, because i've already upgraded. I must also add that i'm still running a dev setup, using paypal sandbox and allowing ipns to come back to me through an open port in my router. There should be no problems with this though, as i've been doing this for a few years now with no problems.
This is the data sent back to me through MessageInvalidEv

[2017-04-18 08:19] mike182uk commented on #30
Hey @Bulmer, thanks for this.

Just to be clear, can you confirm if you are experiencing this problem? If so does it happen in the sandbox AND live or just one of those?

Could you also provide the data that you initially receive from PayPal so we can see the difference between the original you received, to the data that is being sent to PayPal to verify? You should be able to get this by executin

[2017-04-18 08:50] Bulmer commented on #30
I can only confirm it happens in the sandbox as i'm not live with this website yet. Also its a Business-Pro account and i'm using self-signed certs on this dev setup, but only sending to http.
Heres the data:
initial data (file_get_contents('php://input')):
`mc_gross=25.00&invoice=GIFT32&protection_eligibility=Ineligible&payer_id=MZFP795SQJMUE&tax=0.00&payment_date=01%3A33%3A47+Apr+18%2C+2017+PDT&

[2017-04-18 09:13] mike182uk commented on #30
Thanks @Bulmer,

Are you using the IPN simulator to test this or are you putting through a real order?

For some reason the spaces in the `payment_date` you have received are not encoded the way we are expecting - they are encoded using a `+` instead of a `%20`. So when the date you are provided gets decoded using `rawurldecode` it is `01:33:47+Apr+18,+2017+PDT` (`+` not converted to space). When

[2017-04-18 09:19] Bulmer commented on #30
Im not using the IPN simulator. I've got a Local Dev setup of my upgraded
ecommerce site which runs on the latest Laravel PHP framework. Im now
running PHP7.1, but 7.0 was acting the same anyway.

On Tue, Apr 18, 2017 at 7:13 PM, Michael Barrett <notifications@github.com>
wrote:

[2017-04-18 14:19] mike182uk commented on #30
Hey @Bulmer,

Sorry to be a pain, but i don't suppose you could dump the data your sending to PayPal from your HTML form here, then details of the full HTTP request your getting posted to the listener (i.e http headers, raw body etc.)

Could you also give try testing the IPN simulator against your implementation to see if you get the same result?

[2017-04-18 21:29] Bulmer commented on #30
Hey @mike182uk . Yes I can do that today. How would you like me to capture the HTTP request data? Also is it possible to pm this info, to save me going through it all and editing it? No, I can't use the Simulator as i'm using a specific port to post the IPN to and it doesn't allow that. (although the sandbox doesnt mind..). Cheers.

[2017-04-19 15:00] mike182uk commented on #30
Hey @Bulmer,

Could you try using https://requestb.in/ as the IPN URL for your form, this should capture the all of the data that is being posted to you. You should be able to share the URL here once PayPal has made a request to it.

Im trying to work out why the `payment_date` for you is not encoded how we are expecting. When i am testing with the PayPal IPN simulator, the spaces are being encode

[2017-04-19 21:35] Bulmer commented on #30
This has thrown a spanner in the works @mike182uk . I thought i'd give the standard paypal ipn code for php a try from Github: https://github.com/paypal/ipn-code-samples/tree/master/php and it worked without any validation problems!

[2017-04-20 07:58] mike182uk commented on #30
@Bulmer Did you get chance to capture the request using https://requestb.in/? Im not going to be able to debug much further without knowing how/what data is being sent to you (before it hits your web server)

[2017-04-20 08:42] Bulmer commented on #30
Hey @mike182uk . My email is temporarily available in my profile. Email me and i'll send you the link.

[2017-06-01 18:47] sebdesign commented on #30
Hey @mike182uk ,

I finally found the time to do some tests on my end.
I have a staging server set up, and both merchant and buyer sandbox accounts.

I made a payment on the staging app, which sent an IPN to my end.
When I log in into the merchant sandbox account, I can see the message in the IPN history.

These are the details on the page:

[code]

And this is the payload:

[code]

On my end, thi

[2017-07-09 08:32] Swader commented on #30
On a somewhat related note, here's some additional news: when using the sandbox URL (updated URL in PRs #31), the code needs to be using `urlencode` and `urldecode`. When using the live URL, the code needs to be using `rawurlencode` and `rawurldecode`. I'll make a new PR for this as soon as #31 is merged. Ping @mablae @mike182uk

[2017-07-09 11:56] Swader commented on #30
I've made a SandboxAware version of the IPN listener package, visible [here](https://github.com/Swader/paypal-ipn-listener/tree/patch-sandboxaware). Testing with a live client right now and will report back on how it works. If you can verify this is happening across the board, then we've found a bug in Paypal's live vs simulated environment and the whole package should be changed to reflect this.

[2017-07-19 19:42] sebdesign commented on #30
Hi folks,

I updated to 8.0.1, and used the `ArrayListenerBuilder` instead of the `InputStreamListenerBuilder`  in my Laravel application. This way I can use the framework's request data in production and in my integration tests.

I confirm that it works in both live/sandbox (production/testing) environments!
Although my tests are using the sandbox mode that is always returning `INVALID`, I will t

[2017-09-05 08:05] ggeorgiev96 commented on #30
Just had the same issue with the package - all Live transactions were Invalid for successful payments, strangely enough when the code from the [PayPal IPN documentation]( https://developer.paypal.com/docs/classic/ipn/ht_ipn/ ) is used everything worked as expected, perhaps this could help you debug what is causing this behavior ?

[2017-11-15 12:06] willemstuursma commented on #30
I think we found the problem: #32.

[2017-11-22 16:44] seyfer commented on #30
@willemstuursma, thanks.

@mike182uk, would be good to have `8.0.2` tag after it's merged for testing.

[2017-11-22 16:52] mike182uk commented on #30
Thanks again @willemstuursma

@seyfer I've published `v8.0.2` with the changes.

Im going to close this issue for now, but feel free to comment or re-open if your still having this problem.

[2017-11-22 16:52] #30 closed

[2018-02-06 16:26] binarious opened #33 "Problems integrating with Symfony 3.4"
I tried to integrate the listener with Symfony 3.4 and have the following issues:
[code]

My current implementation:
[code]

Version v8.0.2

Any ideas?

[2018-02-07 08:25] binarious commented on #33
A little more insight after some debugging. The problems seems to be the name collision between the namespace `Mdb\PayPal\Ipn\Service` and the interface `Mdb\PayPal\Ipn\Service`.

It does work as expected renaming the interface to something like `IService`:
https://github.com/kdose/paypal-ipn-listener/commit/66bedfe031b11407ff172f00011d42f765ed64a7

[2018-02-08 10:11] mike182uk commented on #33
Hey @binarious

Hmm, thats strange, i don't think i've come across this problem before. What version of PHP are you using?

[2018-02-08 11:54] binarious commented on #33
Hi @mike182uk,

I'm using PHP 7.1

[2018-02-09 09:10] binarious commented on #33
@mike182uk Would you mind renaming either the namespace or the interface to get rid of the collision?

[2018-02-09 11:13] mike182uk commented on #33
@binarious I am not seeing any issues when using this outside of Symfony 😕

If there was naming collision issue, i would of expected to see it everywhere, not just in the context of Symfony.

Do you know why we would only be seeing this in Symfony and no where else?

[2018-02-09 11:56] binarious commented on #33
@mike182uk I don't think it's related to Symfony. Maybe this is not compatible with PSR-4 autoloading which Symfony is using.

[2018-02-09 15:33] mike182uk commented on #33
@binarious Are you able repro the problem outside of Symfony? This lib should be PSR-4 compatible

[2018-02-10 08:02] binarious commented on #33
No. Actually I'm not able to reproduce this in a new Symfony app. I think the problem lies somewhere else in my application. Will close this and update if it's something relevant to this library. Nevertheless thanks for your work :-).

[2018-02-10 08:02] #33 closed

[2018-02-26 09:39] willemstuursma opened #34 "Not compatible with Symfony 4"
Currently the 3.2 event dispatcher is required. It should also be possible to use the 4.0 / 4.1 dispatcher.

[2018-03-01 14:49] mike182uk commented on #34
@willemstuursma `8.0.3` should work with Symfony 4 👍

[2018-03-01 14:49] #34 closed

[2018-04-30 13:35] LeeviHalme opened #35 "Encoding fail returns always "INVALID""
First of all, thank you for this package. I've been literally searching for days for a package that can deal with the "+" symbol :laughing:

Just one thing: It doesn't work with any foreign letters for example ÄÖÅ

It just replaces them with � :(

[2018-04-30 14:33] LeeviHalme commented on #35
Nevermind, wrong repository lol (Github noob)

[2018-04-30 14:33] #35 closed

[2018-06-13 21:55] PenguinArts opened #36 "IPN return Invalid"
I am trying from yesterday do implement IPN but it return INVALID all the time. Today I found this repo but it return invalid too.

This return in the OnInvalid function:
INVALID

payment_type=instant&payment_date=Thu+Jun+14+2018+00%3A50%3A21+GMT%2B0300+%28GTB+Daylight+Time%29&payment_status=Completed&address_status=confirmed&payer_status=verified&first_name=John&last_name=Smith&payer_email=buyer%

[2018-06-13 22:10] PenguinArts commented on #36
I have just solved it. I will let this here if anybody will have this problem. https://stackoverflow.com/questions/32586711/ipn-was-not-sent-and-the-handshake-was-not-verified-please-review-your-informa?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

There is a problem with IPN Simulator that's why it return all the time INVALID. Your code probably works good, but Paypal

[2018-09-04 07:31] willemstuursma opened #37 "Feature request: convert to internal character set"
PayPal IPN messages are usually sent as Windows-1252 character set.

However, our application uses UTF-8 internally and I guess most application do.

An automatic character set conversion would be really convenient.

[2019-03-27 09:56] willemstuursma opened #38 "Feature request: recognize PayPal's fatal failures"
We occasionally get these exceptions:

[code]

Apparently PayPal is sometimes experiencing a minor downtime. It would be great, if the library could recognize these errors and have map them to  a `\Mdb\PayPal\Ipn\Event\MessageVerificationFailureEvent`.

[2019-05-04 20:36] mike182uk commented on #38
Hey @willemstuursma

This is something that should already be happening unless I'am missing something?

https://github.com/mike182uk/paypal-ipn-listener/blob/3b3c99ad387349a64ae67db0a984ce5f7258f3bb/src/Listener.php#L51-L63

which is triggered by

https://github.com/mike182uk/paypal-ipn-listener/blob/3b3c99ad387349a64ae67db0a984ce5f7258f3bb/src/Verifier.php#L36-L40

[2019-05-05 10:28] willemstuursma commented on #38
@mike182uk yes, you are right. I guess it would be nice to have a dedicated event, but on second thoughts its also not super useful because the `IPN_VERIFICATION_FAILURE_EVENT` already exist.

[2019-05-05 10:28] #38 closed

[2020-04-03 15:40] gaelreyrol commented on #37
You can change it in your [Paypal account preferences](https://www.paypal.com/cgi-bin/customerprofileweb?cmd=_profile-language-encoding)

[2020-04-09 22:04] BarbzYHOOL commented on #30
just wanted to say that with or without rawurlencode, even if it sends a "+" or a "%20" it works fine now on production

However I still can't make it work in some cases (examples here: https://github.com/paypal/ipn-code-samples/issues/161 )

Another thing to note: the ipn simulator won't send the special characters in utf-8 cause it's a piece of shit of a software, so you have to test on sandbox

[2020-10-01 02:29] garyross opened #42 "Add guzzlehttp/guzzle 7 support"
[Editted]
At the moment, there is no `guzzlehttp/guzzle` 7 support for v9.0.0 but there is for dev-master

`- mike182uk/paypal-ipn-listener v9.0.0 requires guzzlehttp/guzzle ^6.2 -> satisfiable by guzzlehttp/guzzle[6.5.x-dev].`

Laravel 8 for example requires Guzzle 7.
Thanks!

[2020-10-01 02:35] garyross commented on #42
Um, I see that your composer does indeed have guzzle7 support. Sorry about that. I wonder why I'm having issues here.

[2020-10-01 02:40] garyross commented on #42
I see. The support is only for the `dev-master`, but not for version 9.0.0. I wonder if you could create a v9.0.1 with the support.

[2020-10-01 13:30] mike182uk commented on #42
Hey @garyross

I've published `9.0.1` with the changes from master 👍

[2020-10-01 13:30] #42 closed

[2022-07-11 08:01] garyross opened #46 "PHP8 deprecation Exception for http_build_query"
Exception Message in PHP8.1:
`http_build_query(): Passing null to parameter #2 ($numeric_prefix) of type string is deprecated in mike182uk/paypal-ipn-listener/src/Message.php on line 42`

currently:
[code]
fix:
[code]

[2022-07-13 08:37] mike182uk commented on #46
Thanks for the PR to resolve this @garyross

Have merged it in and released the changes in `9.0.3` 👍

[2022-07-13 08:37] #46 closed

[2022-07-27 11:26] rocfra commented on #30
Hello,

I'm testing Paypal listener using IPN simulator or sandbox business account.
All verifications are "VERIFICATION FAILED".
But if I paste $req content in this GET url, it seems working.
Do you have an idea of what I could try to solve that ?
Thank you !

https://ipnpb.sandbox.paypal.com/cgi-bin/webscr?cmd=_notify-validate&payment_type=instant&payment_date=12%3A18%3A05+Jul+26%2C+2022+PDT&pay

[2022-07-27 11:30] rocfra commented on #30
Hello, this url with $req content works for Paypal verification.
But Paypal IPN listener says "VERIFICATION FAILED".
What do you think I should do ?
Thank you !

`https://ipnpb.sandbox.paypal.com/cgi-bin/webscr?cmd=_notify-validate&payment_type=instant&payment_date=12%3A18%3A05+Jul+26%2C+2022+PDT&payment_status=Completed&payer_status=verified&first_name=John&last_name=Smith&payer_email=buyer%40pay

[2022-07-27 18:12] rocfra commented on #30
I deleted all cURL process and I tried this code which works very well in my environment for the moment.
Result is "Completed Successfully" for all IPN wright.
What do you think of this solution ?

[code]
I had to "TRIM" Paypal answer because I receive VALID or INVALID followed by 100 space characters.

[2022-09-21 12:38] Bulmer opened #48 "Verification is false (sometimes)?"
I have been using your ipn listener for quite a while with no problems (thanks Mike) and have just recently found that I get intermittent false results for `$verified = $ipn->verifyIPN()` , even though when I resend the IPN post from Paypal they go through ok. Any ideas? The only possible problem I can think of could be using `$ipn->usePHPCerts();//leave it up to php-curl` as I previously had prob